.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $color-gray-dark-3;
    border-radius: 2.5rem 2.5rem 0 0;

    &__logo {

        flex: 0 0 30%;

        &--img {
            width: 25rem;
        }
    }

    .header__navigation {

        display: flex;
        flex: 1;

        &--list {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
    }

}