/* Cores Paleta
Azul Logitech: #00A2ED;
Cinza Background: #2A2A2A;
Dark Grey BG: #222222
Darker Grey: #161616
Fonte: White Smoke;

Extra Color Gray: #1A1C1D;
*/

$color-primary: #00A2ED;

$color-gray-dark-1: #2A2A2A;
$color-gray-dark-2: #222222;
$color-gray-dark-3: #161616;

$color-whitesmoke: whitesmoke;