<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Otávio Augusto">
    <meta name="keywords" content="anime, serie, list, movie, animation">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>My List | Anime Tracker</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="../static/logo.png" alt="Our Beautiful logo" class="header__logo--img">
        </div>

        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Link</a>
                </li>

                <li class="navigation__item">
                    <a href="#" class="navigation__link">Link</a>
                </li>

                <li class="navigation__item">
                    <a href="#" class="navigation__link">Link</a>
                </li>

                <li class="navigation__item">
                    <a href="#" class="navigation__link">Link</a>
                </li>
                
                <div class="user">
                    <img src="" alt="" class="user__icon">
                    <span class="user__name">John Doe</span>
                </div>
            </ul>


        </nav>

    </header>

    <main class="main">

    </main>

    <footer class="footer">

    </footer>
</body>
</html>