{% extends "index.html" %}
{% block title %} {% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">

    <br>
    <br>

    <main>
        <section>
            <h2>Adicione seu filme</h2>
            <form method="POST" action="/atualizar_filme" enctype="multipart/form-data">
                <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
                <input type="hidden" name="id" id="id" value="{{filme._id}}"><br><br>
                <input class="form_create" type="text" placeholder="Nome do Filme" name="nome-f" id="nome-f" value="{{filme._nome}}"><br><br>
                <input class="form_create" type="text" placeholder="Duração" name="duracao" id="duracao" value="{{filme._duracao}}"><br><br>
                <input class="form_create" type="text" placeholder="Nota" name="nota-f" id="nota-f" value="{{filme._nota}}"><br><br>
                <input class="form_create" type="number" placeholder="Ano" name="ano-f" id="ano-f" value="{{filme._ano}}"><br><br>
                <label>Gênero <br><br></label>
                <select class="form_select" name="genero-f" id="genero-f">
                {% for genero in generos %}
                    {% if filme._genero_id == genero._id %}
                        <option value="{{genero._id}}" selected>{{genero._nome}}</option>
                    {% else %}
                        <option value="{{genero._id}}">{{genero._nome}}</option>
                    {% endif %}
                {% endfor %}

                </select> <br><br>
                <label>Estúdio <br><br> </label>
                <select class="form_select" name="studio-f" id="studio-f">
                {% for studio in studios %}
                    {% if filme._estudio_id == studio._id %}
                        <option value="{{studio._id}}" selected>{{studio._nome}}</option>
                    {% else %}
                        <option value="{{studio._id}}">{{studio._nome}}</option>
                    {% endif %}
                {% endfor %}
                </select> <br> <br>
                <textarea class="form_sinopse" name="sinopse-f" id="sinopse-f" cols="30" rows="5">{{ filme._sinopse }}</textarea> <br><br>
                <img class="cover-form" src="{{url_for('imagem', nome_arquivo=capa_filme)}}" alt=""><br><br>
                <input class="form_create" type="file" name="arquivo" id="arquivo" accept=".jpg"><br><br>
                
                <a href="{{url_for('index')}}"><button class="btn_cancel" type="button">Cancelar</button></a>
                <button class="btn_confirm" type="submit">Salvar</button> 
            </form>
        </section>
    </main>

    <br>
    <br>

{% endblock %}