{% extends "index.html" %}
{% block title %} {% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    
    <br>
    <br>
    <main>
        <section>
            <h2>Edite sua série</h2>
            <form method="POST" action="/atualizar" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" value="{{serie._id}}"><br><br>
                <input class="form_create" type="text" placeholder="Nome da Série" name="nome" id="nome" value="{{serie._nome}}"><br><br>
                <input class="form_create" type="number" placeholder="Episódios" name="eps" id="eps" value="{{serie._eps}}"><br><br>
                <input class="form_create" type="number" placeholder="Temporadas" name="temps" id="temps" value="{{serie._temps}}"><br><br>
                <input class="form_create" type="text" placeholder="Nota" name="nota" id="nota" value="{{serie._nota}}"><br><br>
                <input class="form_create" type="number" placeholder="Ano" name="ano" id="ano" value="{{serie._ano}}"><br><br>
                <select class="form_select" name="genero" id="genero">
                {% for genero in generos %}
                    {% if serie._genero_id == genero._id %}
                        <option value="{{genero._id}}" selected>{{genero._nome}}</option>
                    {% else %}
                        <option value="{{genero._id}}">{{genero._nome}}</option>
                    {% endif %}
                {% endfor %}
                </select> <br><br>
                <select class="form_select" name="studio" id="studio">
                {% for studio in studios %}
                    {% if serie._estudio_id == studio._id %}
                        <option value="{{studio._id}}" selected>{{studio._nome}}</option>
                    {% else %}
                        <option value="{{studio._id}}">{{studio._nome}}</option>
                    {% endif %}
                {% endfor %}
                </select> <br> <br>

                <textarea class="form_sinopse" name="sinopse" id="sinopse" cols="30" rows="5">{{serie._sinopse}}</textarea> <br> <br>

                <img class="cover-form" src="{{url_for('imagem', nome_arquivo=capa_serie)}}" alt=""><br><br>
                <input type="file" class="form-file" type="file" name="arquivo" id="arquivo" accept=".jpg" value="{{url_for('imagem', nome_arquivo='capa_serie{}.jpg'.format(serie._id))}}"><br><br>
                

                <a href="{{url_for('index')}}"><button class="btn_cancel" type="button">Cancelar</button></a>
                <button class="btn_confirm" type="submit">Salvar</button> 
            </form>
        </section>
    </main>

    <br>
    <br>

{% endblock %}