<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Otávio Augusto">
    <meta name="keywords" content="anime, serie, list, movie, animation">
    <title>{% block title %} My List {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/style.css">
</head>

{% block main %}

    {% block header %}
<body>
    <header>
        <a href="{{url_for('index')}}"><img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="logo"></a>
        <nav class="top_nav">
            <div class="dropdown">
                <button class="dropbtn">
                    criar
                </button>
                <div class="dropdown-content">
                    <a href="{{url_for('novo')}}">séries</a>
                    <a href="{{url_for('novo_filme')}}">filmes</a>
                    <a href="{{url_for('novo_genero')}}">gêneros</a>
                    <a href="{{url_for('novo_estudio')}}">estúdios</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    lista
                </button>
                <div class="dropdown-content">
                    <a href="{{url_for('tabela')}}">séries</a>
                    <a href="{{url_for('tabela_filmes')}}">filmes</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    rank
                </button>
                <div class="dropdown-content">
                    <a href="#">séries</a>
                    <a href="#">filmes</a>
                    <a href="{{url_for('teste')}}">teste</a>
                    <a href="{{url_for('extendido')}}">link</a>
                    <a href="#">tabela</a>
                </div>
            </div>
            <input class="search-bar" type="text" placeholder="search...">
            {% if usuario: %}

            <div id="login_button" class="dropdown">
                <button class="dropbtn">
                    {{usuario._nome}}
                </button>
                <div class="dropdown-content login-dropdown">  
                    <a href="#">minha lista</a>
                    <a href="{{url_for('logout')}}">logout</a>
                </div>
            </div>    

            {% else %}

                <a id="login_button" href="{{url_for('login')}}">login</a>

            {% endif %}   
        </nav>
    </header>
    {% endblock %}

    {% block content %}
    <main>

        {% if usuario: %}

        <section id="minha-lista" class="index-section">
            <article>
                <h2 class="section-title">minha lista</h2>
                {% for minha_serie in minhas_series %}
                    {% if minha_serie._usuario_id == usuario._id %}
                    <a href="{{ url_for('serie_info', id=minha_serie._serie_id)}}"><img class="cover-form" src="{{url_for('imagem', nome_arquivo='capa_serie{}.jpg'.format(minha_serie._serie_id))}}" alt=""></a>
                    {% endif %}
                {% endfor %}
            </article>
        </section>

        {% endif %}

        <section id="series" class="index-section">
            <article class="cover-container">
                <h2 class="section-title">séries</h2>
                {% for serie in series %}
                <a href="{{ url_for('serie_info', id=serie._id)}}"><img class="cover-form" src="{{url_for('imagem', nome_arquivo='capa_serie{}.jpg'.format(serie._id))}}" alt="{{serie._nome}}"></a>
                {% endfor %}
            </article>
        </section>

        <section id="filmes" class="index-section">
            <article>
                <h2 class="section-title">filmes</h2>
                {% for filme in filmes %}
                <a id="{{ filme._id }}" href="{{ url_for('filme_info', id=filme._id)}}"><img class="cover-form" src="{{url_for('imagem', nome_arquivo='capa_filme{}.jpg'.format(filme._id))}}" alt="{{filme._nome}}"></a>
                {% endfor %}
            </article>
        </section>
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <p class="creditos">developed by <a href="https://twitter.com/Vattguern">Otávio Augusto</a></p>
        <a href="https://discord.com/users/389762685992042496" target="
        _blank"><img class="social-media" src="{{url_for('static', filename='discord_logo.png')}}"   alt="Discord Link"></a>
        <a href="https://steamcommunity.com/id/Vatt_Ghern/" target="_blank"><img class="social-media" src="{{url_for('static', filename='steam_logo.png')}}" alt="Steam Link"></a>
        <a href="https://twitter.com/Vattguern" target="_blank"><img class="social-media" src="{{url_for('static', filename='twitter_logo.png')}}" alt="Twitter Link"></a>
        <abbr title="(35)998163510"><img class="social-media" src="{{url_for('static', filename='whatsapp_logo.png')}}" alt="What'sApp Link"></abbr>
    </footer>
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='jquery-3.6.0.js')}}"></script>
    <script src="{{url_for('static', filename='japp.js')}}"></script>
</body>
</html>

{% endblock %}
