{% extends "index.html" %}
{% block title %} {% endblock %}
{% block content %}
    <style>
    main {
        padding: 15px;
        width: 500px;
        height: 500px;
        border-radius: 5px;
        margin: auto;
    }

    a {
        cursor: pointer;
    }

    form {
        margin-top: 100px;
    }

    .form_login {
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    }

    input {
        border: none;
        outline: none;
    }

    .btn_cancel {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    }

    .btn_cancel:hover {
        background-color: rgb(190, 2, 2);
    }

    .btn_confirm {
    background-color: #00A2ED;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    }

    .btn_confirm:hover {
    background-color: #0283be;
    }

    .link-criar-conta {
        color: #00A2ED;
        cursor: pointer;
    }

    .link-criar-conta:hover {
        color: whitesmoke;
    }

    .link-criar-conta > label {
        cursor: pointer;
    }

    </style>

    <br>
    <br>
   
    <main>
        <section>
            <h2>Faça login <br> ou <br>crie uma conta</h2>
            <form method="POST" action="/autenticar">
                <input type="hidden" name="proxima" value="{{proxima}}">
                <input class="form_login" type="text" name="usuario" placeholder="Nome de Usuário" required id="usuario"><br><br>
                <input class="form_login"type="password" placeholder="Senha" required name="senha" id="senha"><br><br>
                <button class="btn_confirm" type="submit">Confirmar</button><br><br>
                <a class="link-criar-conta" href="{{url_for('nova_conta')}}"><label>Ainda não possui uma conta?</label></a>
            </form>
        </section>
    </main>

    <br>
    <br>
{% endblock %}