{% extends "index.html" %}
{% block title %} {% endblock %}
{% block content %}

<style>
    * {
        box-sizing: border-box;
    }

    :root {
        --logiblue: #00A2ED;
        --gray-bg: #2A2A2A;
        --dark-gray-bg: #222222;
        --darker-gray-bg: #161616;
        --font-color-default: whitesmoke;
        --font-family: 'Source Sans Regular', 'Roboto', sans-serif;
        --thumb-width: 200px;
        --thumb-height: 283px;

        /* LIGHT MODE */
        --white-bg: white;
        --dark-white-bg: rgb(231, 231, 231);
        --darker-white-bg: rgb(221, 221, 221);
        --font-color-light: black;
    }

    .logo, .footer, .social-media {
        box-sizing: unset;
    }

    main {
        background-color:var(--dark-gray-bg);
    }

    main, .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .container-inner-title {
        background-color: var(--darker-gray-bg);
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .container-inner-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .serie-sinopse {
        display: flex;
        flex-wrap: nowrap;
        word-wrap: break-word;
        align-self: center;
        justify-content: center;
        flex-shrink: inherit;
        text-justify: auto;
    }

    .container-inner-bottom {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-shrink: inherit;
    }

    .user-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-container-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 16px;
        flex-wrap: nowrap
    }

    .user-top-1, .user-top-2, .user-top-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
    }

    .user-comment {
        padding: 10px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

</style>

<main>
    <div class="container">

        <div class="container-inner-tittle">
            <h2> {{ serie._nome }}</h2>
        </div>

        <div class="container-inner-center">
            <img class="cover-form thumbnail" src="{{url_for('imagem', nome_arquivo=capa_serie)}}" alt="Anime Cover">

            <p class="serie-sinopse">{{ serie._sinopse }}</p>
        </div>

        <div class="container-inner-bottom">
            <h4 class="anime-info">Nota: {{ serie._nota }}</h4>
            <h4 class="anime-info">Episódios: {{ serie._eps }}</h4>
            <h4 class="anime-info">Temporadas: {{ serie._temps }}</h4>
            <h4 class="anime-info">Gênero: {{ serie._genero }}</h4>
            <h4 class="anime-info">Estúdio: {{ serie._estudio }}</h4>
        </div>

        {% if usuario: %}

        <div class="user-container">
            <div class="user-container-top">
                <div class="user-top-1">
                    <label for="user-temps">Temporada:</label>
                    <input id="user-temps" class="user-data-btn" type="number">
                </div>
                <div class="user-top-2">
                    <label for="user-eps">Episódios:</label>
                    <input id="user-eps" class="user-data-btn" type="number">
                </div>
                <div class="user-top-3">
                    <select class="user-data-btn" name="" id="">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="user-comment">
                <textarea name="" id="" cols="30" rows="10" placeholder="Write a comment"></textarea>
            </div>

            {% if favorito:  %}

            <a class="btn_remove_fav" href="{{ url_for('desfavorita_serie', usuario_id=usuario._id, serie_id=serie._id) }}"><img src="{{url_for('static', filename='fulfill-heart.png')}}" alt=""></a>

            {% else: %}

            <form action="{{url_for('add_serie')}}" method="post">
                <input type="hidden" name="usuario_id" id="usuario_id" value={{usuario._id}}>
                <input type="hidden" name="serie_id" id="serie_id" value={{serie._id}}>
                <a href="{{ url_for('serie_info', id=serie._id )}}"><button class="btn_add_fav" type="submit"><img class="add_fav_img" src="{{url_for('static', filename='empty-heart.png')}}" alt=""></button></a>
            </form>

            {% endif %}
        
        {% endif %}

        </div>

    </div>

</main>

{% endblock %}