{% extends "index.html" %}
{% block title %} {% endblock %}
{% block content %}

<style>
* {
    box-sizing: border-box;
}

.logo {
    box-sizing: unset;
}

.footer {
    box-sizing: unset;
}

.social-media {
    box-sizing: unset;
}

.content {
    display: block;
    background-color:#222222;
    margin: auto;
    border-radius: 10px;
    padding: 10px 12px;
    height: auto;
}

.tittle {
    background-color: #161616;
    text-align: left;
    width: auto;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 5px;
}

.title-serie {
    text-align: left;
    padding: 10px 12px;
}

.cover {
    display: inline-block;
    background-color: #161616;
    width: 200px;
    height: 283px;
    border-radius: 5px;
    margin-top: 10px;
    margin: 8px;
    overflow: hidden;
}

.sinopse {
    text-align: left;
    display: inline-block;
    height: 283px;
    width: 80%;
    border-radius: 5px;
    margin: 8px;
    overflow: hidden;
    padding: 10px 12px;
    text-size-adjust: inherit;
}

.cover {
    display: inline-block;
    background-color: #161616;
    object-position: cover;
    width: 195px;
    height: 283px;
    border-radius: 5px;
    margin-top: 10px;
    margin: 8px;
    overflow: hidden;
}

.cover > img {
    width: 195px;
    height: 283px;

}

.content-info {
    background-color: #161616;
    text-align: left;
    margin: auto;
    border-radius: 5px;
    display: flex;
}

.status {
    margin-left: 15px;
    text-align: center;
    display: inline-block;
    padding: 10px 12px;
}

.status-content {
    border-radius: 5px;
    padding: 5px 6px;
    display: inline-table;
    text-align: left;
    margin: auto;
}

.status-content-studio {
    margin: auto;
    width: 200px;
    text-align: center;
}

.user-data {
    display: inline-flex;
    margin: auto;
    margin-top: 25px;
    padding: 10px 12px;
    border-radius: 5px;
    background-color: #161616;
    width: 80%;
    height: 10%;
}

.user-data-btn {
    width: 125px;
    height: 25px;
    margin: auto;
    padding: 10px 12px;
    border-radius: 3px;
}

.comment {
    margin: auto;
    padding: 10px 12px;
    border-radius: 5px;
}

.comentario {
    margin: 25px;
    border-radius: 5px;
    width: 80%;
    height: 40%;
    padding: 20px 24px;

}

@media screen and (max-width: 601px){
    .tittle {
        text-align: left;
    }

    .sinopse {
        text-align: left;
    }
}

@media screen and (min-width: 600px){
    .tittle {
        text-align: center;
    }

    .title-serie {
        text-align: center;
    }

    .sinopse {
        text-align: center;
        height: 200px;
        overflow: scroll;
    }
}

</style>

<main>
    <div class="content">
        <div class="tittle">
            <h2 class="title-serie">{{serie._nome}}</h2>
        </div>
        <div class="cover">
            <img class="cover-form" src="{{url_for('imagem', nome_arquivo=capa_serie)}}" alt="">
        </div>
        <div class="sinopse">
            <section>
                <p>{{serie._sinopse}}</p>
            </section>
        </div>
        <div class="content-info">
            <div class="status">
                <h4 class="status-content">Nota: {{serie._nota}}</h4>
                <h4 class="status-content">Episódios: {{serie._eps}}</h4>
                <h4 class="status-content">Temporadas: {{serie._temps}}</h4>
                <h4 class="status-content">Gênero: {{serie._genero}}</h4>
                <h4 class="status-content">Rank: #666</h4>
                <h4 class="status-content">Estúdio: {{ serie._estudio }}</h4>
                <br>
            </div>
        </div>

        {% if usuario: %}

        <div class="user-data">
            <label for="user-temps">Temporada:</label>
            <input id="user-temps" class="user-data-btn" type="number">
            <label for="user-eps">Episódios:</label>
            <input id="user-eps" class="user-data-btn" type="number">
            <select class="user-data-btn" name="" id="">
                <option value=""></option>
            </select>
        </div>

        <div class="comment">
            <textarea class="comentario" name="comentario" id="comentario" cols="60" rows="20" placeholder="Write a comment here...">{{usuario._id}}</textarea>
        </div>

        <form action="{{url_for('add_serie')}}" method="post">
            <input type="hidden" name="usuario_id" id="usuario_id" value={{usuario._id}}>
            <input type="hidden" name="serie_id" id="serie_id" value={{serie._id}}>
            <a href="{{ url_for('serie_info', id=serie._id )}}"><button type="submit">favoritar</button></a>
            <a href="{{ url_for('desfavorita_serie', usuario_id=usuario._id, serie_id=serie._id) }}">desfavoritar</a>
        </form>

        {% endif %}
    </div>
</main>

{% endblock %}