{% extends "index.html" %}
{% block title %} {% endblock %}
{% block content %}

<style>
    * {
        box-sizing: border-box;
    }

    .container {
        background-color: blue;
        margin: auto;
        height: 600px;
    }
</style>

<main>
    <div class="container">
        <div class="content-container">
            <div class="cover"></div>
            <div class="info"></div>
        </div>
        <div class="status-info">
            <div class="data"></div>
        </div>
    </div>
</main>

{% endblock %}
    